<ul class="nav ">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle pl-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">Participant</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="?p=John">John</a>
            <a class="dropdown-item" href="?p=Paul">Paul</a>
            <a class="dropdown-item" href="?p=Arthur">Arthur</a>
            <!--<div class="dropdown-divider"></div>-->
            <a class="dropdown-item" href="#">Separated link</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
</ul>