<div>
    <div id="highchart-with-data-labels"></div>
    <div id="highchart-with-data-labels2"></div>
    <div id="graph1"></div>
    <div id="graph2"></div>
    <div id="highstock-compare-multiple-series"></div>
</div>