<!DOCTYPE html>
<html>

<%- include('includes/head.ejs') %>

<body>
    <div class="container">
        <div id="highchart-with-data-labels"></div>
        <div id="graph1"></div>
        <div id="graph2"></div>
        <div id="highstock-compare-multiple-series"></div>
    </div>
</body>

</html>
<script src="js/main.js"></script>