<!DOCTYPE html>
<html lang="en">
<%- include('includes/head.ejs') %>

<body>
    <div class="container">
        <h1>Visualization Tool</h1>
        <%- body %>
    </div>
</body>

</html>
<script src="js/main.js"></script>