<% types.forEach(function(element) {  %>
<div id="<%= element %>"></div>
<% }); %>
<div id="distance"></div>
<div id="distance2"></div>
<script src="js/experiment2.js"></script>

<script>
    let participant = "<%= participant %>";

    let types = "<%- types %>".split(",");
    let names = ['Time Count(Every 60 seconds)', 'GT', 'Fitbit One', 'Fitbit Flex 2', 'Fitbit Surge',
        'Fitbit Charge HR', 'Fitbit Charge 2'
    ]
    for (let i = 0; i < types.length; i++) {
        getData(types[i], names, function (data) {
            displayGraph(types[i], data, names);
        });
    };
</script>
<script>
    setTimeout(function () {
        Highcharts.chart('distance', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: true,
                type: 'pie'
            },
            title: {
                text: 'Treadmill Distance Difference From Ground Truth'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.y} - {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                name: 'Treadmill Distance',
                colorByPoint: true,
                data: [{
                    name: 'Fitbit One',
                    y: 63,
                    sliced: true,
                    selected: true
                }, {
                    name: 'Fitbit Charge HR',
                    y: 477
                }, {
                    name: 'Fitbit Surge',
                    y: 597
                }, {
                    name: 'Fitbit Flex 2',
                    y: 467
                }, {
                    name: 'Fitbit Charge 2',
                    y: 367
                }]
            }]
        });
    }, 300);
</script>