<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <div id="errorsCalories"></div>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <div id="errorsHR"></div>
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    <div id="errorsSteps"></div>
  </div>
</div>
<script>
  let errorsCalories = JSON.parse('<%- errorsCalories %>');
  let errorsSteps = JSON.parse('<%- errorsSteps %>');
  let errorsHR = JSON.parse('<%- errorsHR %>');

  Highcharts.chart('errorsCalories', {

    chart: {
      type: 'boxplot'
    },
    plotOptions: {
      boxplot: {
        fillColor: '#F0F0E0',
        lineWidth: 2,
        medianColor: '#0C5DA5',
        medianWidth: 3,
        stemColor: '#A63400',
        stemDashStyle: 'dot',
        stemWidth: 1,
        whiskerColor: '#3D9200',
        whiskerLength: '20%',
        whiskerWidth: 2,
        maxPointWidth: 50
      }
    },
    title: {
      text: 'Energy Consumption in Calories Error Box Plot For Genders'
    },

    legend: {
      enabled: false
    },

    xAxis: {
      categories: ['Male', 'Female', 'All'],
      title: {
        text: 'Participant Group'
      }
    },

    yAxis: {
      title: {
        text: 'Values'
      }
      // ,plotLines: [{
      //   value: 932,
      //   color: 'red',
      //   width: 1,
      //   label: {
      //     text: 'Actual Value',
      //     align: 'left',
      //     style: {
      //       color: 'grey'
      //     }
      //   }
      // }]
    },

    series: [{
      name: 'Observations',
      data: [
        [errorsCalories[0], errorsCalories[1], errorsCalories[2], errorsCalories[3], errorsCalories[4]],
        [errorsCalories[0], errorsCalories[1], errorsCalories[2], errorsCalories[3], errorsCalories[4]],
        [errorsCalories[0], errorsCalories[1], errorsCalories[2], errorsCalories[3], errorsCalories[4]]
      ],
      tooltip: {
        headerFormat: '<em>Data for {point.key}</em><br/>'
      }
    }
  //   , {
  //     name: 'Outlier',
  //     color: Highcharts.getOptions().colors[0],
  //     type: 'scatter',
  //     data: [ // x, y positions where 0 is the first category
  //         [0, 644],
  //         [2, 518],
  //         [2, 951],
  //         [2, 969]
  //     ],
  //     marker: {
  //         fillColor: 'white',
  //         lineWidth: 1,
  //         lineColor: Highcharts.getOptions().colors[0]
  //     },
  //     tooltip: {
  //         pointFormat: 'Observation: {point.y}'
  //     }
  // }
  ]

  });
</script>
<script>
  Highcharts.chart('errorsHR', {

    chart: {
      type: 'boxplot'
    },
    plotOptions: {
      boxplot: {
        fillColor: '#F0F0E0',
        lineWidth: 2,
        medianColor: '#0C5DA5',
        medianWidth: 3,
        stemColor: '#A63400',
        stemDashStyle: 'dot',
        stemWidth: 1,
        whiskerColor: '#3D9200',
        whiskerLength: '20%',
        whiskerWidth: 2,
        maxPointWidth: 50
      }
    },
    title: {
      text: 'Heart Rate Error Box Plot For Genders'
    },

    legend: {
      enabled: false
    },

    xAxis: {
      categories: ['Male', 'Female', 'All'],
      title: {
        text: 'Participant Group'
      }
    },

    yAxis: {
      title: {
        text: 'Values'
      },
      plotLines: [{
        value: 760,
        color: 'red',
        width: 1,
        label: {
          text: 'Actual Value',
          align: 'left',
          style: {
            color: 'grey'
          }
        }
      }]
    },

    series: [{
      name: 'Observations',
      data: [
        [errorsHR[0], errorsHR[1], errorsHR[2], errorsHR[3], errorsHR[4]],
        [errorsHR[0], errorsHR[1], errorsHR[2], errorsHR[3], errorsHR[4]],
        [errorsHR[0], errorsHR[1], errorsHR[2], errorsHR[3], errorsHR[4]]
      ],
      tooltip: {
        headerFormat: '<em>Experiment {point.key}</em><br/>'
      }
    }]

  });
</script>
<script>
  Highcharts.chart('errorsSteps', {
    chart: {
      type: 'boxplot'
    },
    plotOptions: {
      boxplot: {
        fillColor: '#F0F0E0',
        lineWidth: 2,
        medianColor: '#0C5DA5',
        medianWidth: 3,
        stemColor: '#A63400',
        stemDashStyle: 'dot',
        stemWidth: 1,
        whiskerColor: '#3D9200',
        whiskerLength: '20%',
        whiskerWidth: 2,
        maxPointWidth: 50
      }
    },
    title: {
      text: 'Steps Error Box Plot For Genders'
    },

    legend: {
      enabled: false
    },

    xAxis: {
      categories: ['Male', 'Female', 'All'],
      title: {
        text: 'Participant Group'
      }
    },

    yAxis: {
      title: {
        text: 'Values'
      },
      plotLines: [{
        value: 932,
        color: 'red',
        width: 1,
        label: {
          text: 'Actual Value',
          align: 'left',
          style: {
            color: 'grey'
          }
        }
      }]
    },

    series: [{
      name: 'Observations',
      data: [
        [errorsSteps[0], errorsSteps[1], errorsSteps[2], errorsSteps[3], errorsSteps[4]],
        [errorsSteps[0], errorsSteps[1], errorsSteps[2], errorsSteps[3], errorsSteps[4]],
        [errorsSteps[0], errorsSteps[1], errorsSteps[2], errorsSteps[3], errorsSteps[4]]
      ],
      tooltip: {
        headerFormat: '<em>Experiment {point.key}</em><br/>'
      }
    }]

  });
</script>