<!DOCTYPE html>
<html lang="en">
<%- include('includes/head.ejs') %>
<body>
    <div class="container">
        <a href='/' class="nounderline">
            <h1 class="text-center ">Visualization Tool</h1>
        </a>
        <%- include('includes/nav.ejs') %>
        <%- body %>
    </div>
</body>

</html>